@{
    ViewData["Title"] = "Home Page";
}


<div id="carouselAccueil" class="carousel slide " data-bs-ride="carousel">
    
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="https://www.mygarages.fr/images/800/mygarages/slide.jpg" width="50%" class="d-block w-100" alt="devanture Carrosserie Veve" style="margin-top:10px" >
        </div>
        <div class="carousel-item">
            <img src="http://infocontroletechnique.com/images/11346165898632784953.jpg" width="50%" class="d-block w-100" alt="Plan" style="margin-top:10px">
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselAccueil" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button> 
    <button class="carousel-control-next" type="button" data-bs-target="#carouselAccueil" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div> 
<div>
<br/>
<br/>
<br/>
<br/>
<h3 class="titre">Qui sommes-nous ?</h3>
<div class="container d-flex">

<br/>
<br/>
    <p class="container text-center">
        Vous savez, moi je ne crois pas qu’il y ait de bonne ou de mauvaise situation. Moi, si je devais résumer ma vie aujourd’hui avec vous, je dirais que c’est d’abord des rencontres. Des gens qui m’ont tendu la main, peut-être à un moment où je ne pouvais pas, où j’étais seul chez moi. Et c’est assez curieux de se dire que les hasards, les rencontres forgent une destinée... Parce que quand on a le goût de la chose, quand on a le goût de la chose bien faite, le beau geste, parfois on ne trouve pas l’interlocuteur en face je dirais, le miroir qui vous aide à avancer. Alors ça n’est pas mon cas, comme je disais là, puisque moi au contraire, j’ai pu ; et je dis merci à la vie, je lui dis merci, je chante la vie, je danse la vie... je ne suis qu’amour ! Et finalement, quand des gens me disent « Mais comment fais-tu pour avoir cette humanité ? », je leur réponds très simplement que c’est ce goût de l’amour, ce goût donc qui m’a poussé aujourd’hui à entreprendre une construction mécanique... mais demain qui sait ? Peut-être simplement à me mettre au service de la communauté, à faire le don, le don de soi.

    </p>
    <br/>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div class="page"><br/> <a class="nav-link text-dark" asp-area="" asp-controller="Horaire" asp-action="Index"><h1 class="titre">Nous Contacter</h1></a><br/></div>
<br/>
<br/>
<br/>
<div class="page"><br/> <a class="nav-link text-dark" asp-area="" asp-controller="Prestation" asp-action="Index"><h1 class="titre">Nos Prestations</h1></a><br/></div>
<br/>
<br/>
<br/>
<div class="page"><br/> <a class="nav-link text-dark" asp-area="" asp-controller="Realisation" asp-action="Index"><h1 class="titre">Nos Realisations</h1></a><br/></div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
</div>
